In [5]:
import sys 
from importlib import reload

sys.path.insert(0, '/csc/epitkane/projects/multimodal')
import src.annotate_mutations as annotate

In [111]:
reload(annotate)
annotate.annotate_mutations_(mutation_coding = '/csc/epitkane/home/ahuttun/muat-github/extfile/mutation_codes_sv.tsv',
                       predict_filepath = '/csc/epitkane/projects/multimodal/data/test_data_preprocessing.tsv',
                       verbose = True,
                       tmp_dir = '/csc/epitkane/projects/multimodal/data/temp')

[2024-04-19 16:29:07] 2 input file found
[2024-04-19 16:29:07] Writing mutation sequences...
[2024-04-19 16:29:07] 0/124	0c7aca3f-e006-4de3-afc2-20b4f727d4fd
[2024-04-19 16:29:07] Output written to /csc/epitkane/projects/multimodal/data/temp/0c7aca3f-e006-4de3-afc2-20b4f727d4fd.tsv.gz
[2024-04-19 16:29:07] Writing mutation sequences...
[2024-04-19 16:29:07] 1/124	2b142863-b963-4cc9-8f8f-c72503c93390
[2024-04-19 16:29:07] Output written to /csc/epitkane/projects/multimodal/data/temp/2b142863-b963-4cc9-8f8f-c72503c93390.tsv.gz

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/csc/epitkane/projects/PCAWG20191001/data/modified_data/raw/all2patient/Bladder-TCC/0c7aca3f-e006-4de3-afc2-20b4f727d4fd.csv',
                header = None)

In [3]:
df2 = df[df.iloc[:,0]== '12']
seq = df2[df2.iloc[:,1] == 5379009][5].values[0]
seq[int(len(seq)/2)-6:int(len(seq)/2)+9]

'CGGG444124GAAAA'

In [4]:
df3 = df[df.iloc[:,0]== '4']
df3[df3.iloc[:,1] == 137414364]

,0,1,2,3,4,5,6,7,8,9,10,11,12
3005,4,137414364,A,C,0c7aca3f-e006-4de3-afc2-20b4f727d4fd,GTATCAATTAAAACAAATTATAAAGATGCATTCATATAACAAGCAT...,0.0,0.0,=,19.493049,male,65,Bladder-TCC

In [6]:
seq = df3[df3.iloc[:,1] == 137414364][5].values[0]
seq[int(len(seq)/2)]

'?'

In [7]:
len(df)

16788

In [5]:
df.iloc[26,:]

0                                                     7
1                                              88373035
2                                                    AA
3                                                   NaN
4                  0c7aca3f-e006-4de3-afc2-20b4f727d4fd
5     CTCTTATACTCTGATGAAACTGTCTTCATATAACCCTTATAAAAGG...
6                                                   0.0
7                                                   0.0
8                                                     =
9                                             29.108351
10                                                 male
11                                                   65
12                                          Bladder-TCC
Name: 26, dtype: object

In [6]:
seq = df.iloc[26,:][5]
seq[int(len(seq)/2):]

'44CTTTTTTAAAAGAATTTCAGGTGATTCATTTTTCTTTTAGTTTATTTGTATTTTCTACAATGACTAATACTTTCTTAAATCATTAAGATTAAAAAATTAAAAAGTGGTAAATTAAAACATACGTTAAAACATTGAAAAAACTTATTTAATATGCTAAGATTAAACACAATCTGCAGTTGTTAAGTACATCATGATTACAAGTATGTATTTATACATTCACATGTATATATACACACATATACACAAAGATTATAAAGGCATTTGTATAAATATGTAGTTGTGTTAAGTTTTTGATATTACAATTACTTTTCCGTCTTTTAAAATGTTAGGTCATTTTAACAATTTTTAAAGAGAAATCTTTAAAATGAGAAGAAAAGCATTCTTTTAAATCTAACTGTAATTTGCTCTAAGAACTGGGCTGCAGAATTATTCTGAGAGACAGAAATACTGTTTTTATTTTTAAATTAAATCAAAAACTTATTTGATTGATTGTCTCTGTTAAAGCTGAGAAAACTGGAGTCTGTTTAGATTATGTCGTGCATTGAATGATGGCTCCCCAAAAGATATGCCTAAATCCTAATTCCCAGAACCCGTGAAGGTGACCTTACTTGGATAAGGGATCTTTGTAGATGTAATTAGATTAGGGGTCTTGGCATGAGATCATCCTGAATTACCTGAGTGGGCCCTGAATGCAACGAAGTGTCCTTGTAAGAGAAAGGAGAAGACACGCGGAAGAAGAGCCACATGAACACGGAAGCGGAAATCAGTGATGCAGCCACAAGCCAAGGAGAATCAAAGAACGCCTGGAGCCACAAGAAGCTGGAGGGAGGCAGAAAAATGAATCTTCTCTAGAGCCTCTGAAAAGAGCATGGTCTTCCTGACACCTTGATTTCAGATTTCTGGCCTCCAAAACTGAGAAAAATAAATTTCTGTTGCTTTAAGCCACCCAGTTTGTAGTAAGTTGTTAAGGAAGCCATGGGAAACTAACACACAGTGGTTATACAAAATGAAATAAATTTTTC'

In [7]:
seq = df.iloc[2,:][5]
seq[int(len(seq)/2):]

'332111GCCAGACCTGCTTTAGAAAACTGTGGACCCCAGTGAACCCTCACTGCACCCTCACTGCATCCTCAGTTCATTGTGGATTTTCTATCTGGCACACAGCAGGAGCTCAATAAATACTTCCTGACTCACAACAGTCAGATAGTGAATTTAACCCCTCCACAACTCAGGGCTTGTTTTTTCTTTGTGGTTCTTTATCGCTCATTTGCATGCATTCTCACAGTAGATACTGAAAACAAAAGTTCTCTTCTCAGTTCCCATCTTGGCAGTCCTTTTGCTTTTGAGTTTATCGATTGCCTTGGGACTGATGCGACAAAGTATGGATTACAGATGCTTGAAGAACATTTGTTAACTCCAAGGGAGAATGAAGCTGTGAAATAAAGTAGTTATTTAATCGAATTCTACTACTAATAATGCCTTGCCTTGTTTTTCTTAAATCAACCTAAAACGTGTGGTCAAAAAATATTTGACTTCACTTTATTTTGGAAATATTTAACATTAAAAAGCAATGGCCCATAATCTCGGCACGCTAACAAAATTATTTTCATTTTTGCCCATTCTCTTTCAGGCCCTGTTTTCATAATCATATACAATTTTGCATGGTTGTAATTACACAGAAGCGATATTTAAGTCTTGCTTTTTTTTTTTCCTGGTTAAAGTTCCAGCCTGAATGAATTCATACATTATCTCATGATGATCATTTTCAATTTCTGGACCATGGACACATGTTTTGGCATACCACTTGAGCATGTCACAGTGAGTCAGGAAGCATTTATTGAGCTCTTGCTGTGTGCCAGATGCAATTCTAGGCCCCCAAGGATCTAGTAGTAAATAAGATAAAGTCCCTGCTGTCCAGACTGTAGCAGCCTACAACTATAGGGGATGCCATTTGCATCCTGTGTGAGCCTGTGTAACTCACACTGGGGAATTTCTTCCTTAGGGCAGATTCCTTTCCTTCCTCTAGAGGGCAGGTAAATAGAACTAAAGGCCAGGAGCACGCTGAAGGATGCATGCATCTTCATGG'

In [8]:
df[21:32]

,0,1,2,3,4,5,6,7,8,9,10,11,12
21,14,97475477,NaN,T,0c7aca3f-e006-4de3-afc2-20b4f727d4fd,AGTGCAGTGACTGGTAGGAGAATAGAGTTACTGCCACCTGCAGCCT...,0.0,0.0,=,39.960251,male,65,Bladder-TCC
22,17,66091887,NaN,A,0c7aca3f-e006-4de3-afc2-20b4f727d4fd,TTCTCACAGGGCTGCAGATGAATGGGAGAGCCAGCCGAGAAATCTA...,0.0,0.0,=,70.886700,male,65,Bladder-TCC
23,10,23580632,G,NaN,0c7aca3f-e006-4de3-afc2-20b4f727d4fd,TTGAAGTAACTAGTAAGTACTAGCATATTTTCCTGAAGGGCTAACT...,1.0,0.0,+,46.348549,male,65,Bladder-TCC
24,12,96216404,C,NaN,0c7aca3f-e006-4de3-afc2-20b4f727d4fd,TGTCTGTTCATATCCTTCCAGGCATGAGATTTTAAAAACATGTTTT...,0.0,0.0,=,61.843750,male,65,Bladder-TCC
25,16,34523035,G,NaN,0c7aca3f-e006-4de3-afc2-20b4f727d4fd,TCAGTTAGTTGTTTGATTAGGTAAACAAAGCAGCTGGGAAGCTCGA...,0.0,0.0,=,14.042050,male,65,Bladder-TCC
26,7,88373035,AA,NaN,0c7aca3f-e006-4de3-afc2-20b4f727d4fd,CTCTTATACTCTGATGAAACTGTCTTCATATAACCCTTATAAAAGG...,0.0,0.0,=,29.108351,male,65,Bladder-TCC
27,22,46521083,AAGAGGATTTATTTGTTTATATAACATA,NaN,0c7aca3f-e006-4de3-afc2-20b4f727d4fd,TGAGCCTGGTGGAAGATGCTGCTCCCCGGGACAGCAGGGCGTGGGC...,0.0,0.0,=,74.602951,male,65,Bladder-TCC
28,11,62979575,C,NaN,0c7aca3f-e006-4de3-afc2-20b4f727d4fd,GGGGGATGCTTTTCAAGGTACCACGTGTATAGGCTGAGGAAAACCC...,1.0,0.0,?,57.468302,male,65,Bladder-TCC
29,13,37530614,NaN,T,0c7aca3f-e006-4de3-afc2-20b4f727d4fd,GCAACAAGAATAGGTTTTTTAAAAAGTTAATACTGAAAAACAAAAA...,1.0,0.0,-,49.172251,male,65,Bladder-TCC
30,5,26945751,NaN,A,0c7aca3f-e006-4de3-afc2-20b4f727d4fd,CCAGCCTGACAGAGTGAGACACTGTCTCACAAAATAAATAGATAAA...,1.0,0.0,+,14.057550,male,65,Bladder-TCC
31,16,72989296,A,NaN,0c7aca3f-e006-4de3-afc2-20b4f727d4fd,AAAAAAGAAATGAAAAAAAGAACTTGGCAGGTCCTTAGTCTTGAGC...,1.0,0.0,+,54.283699,male,65,Bladder-TCC

In [9]:
seq = df.iloc[17,:][5]
seq[int(len(seq)/2):]

'4124GAAAATACAAATATTAGCCCGGTATGGTGGCATGCGCCTGAAATTCCAGCTACTTAAGAGGCTGAGGTGAGAGAATTTCTTGAACCTGGGAGGCGGAGGTTGCAATGAGCCAAGATTGTACCACTGGACTCTACCCTGGGCGGCAGAAGAGAAACTCTGCCTCAAAAAAAAAAAAAAAAGTATAATCCAGTATGCTCAATGTCCTCCTAGAATATAGCTATATAAAAGTACTGTGGGAAGACAGGATAGAATATAGCTATTTAAAAGTACTGTGGGAAGACAGGAAAATAATTCTTCCTTGGAGGAATTTTTCTCCAACACTGGCATAGGGTCCGCTAGATTGAGGTAAAATATCCTTTGAGTGCCTTCTATGTGTTTACCACTGTGCTGTGTTATGAGCTGGGAGAGAATGAAAGAAAGAACCCATTCTGAAGAGGAAAAGGATATCCAGGAAGCAGAGCCCAAGTTTCCTAATTCCCTCTCATTTATCCATTCAACATTCACTAAGCACAAACACTGTTTCACCCGACAACTGGACTCTGAGCATATGAAGATAAGTGAGAGAGGTCCCTGCCCAGTTCCACTCAGAGGATCCATCCTCAGGCCAGCTGCAGGTGTCCATGGGGGAGTCTGTTCTCAGCCAGCATCATAGTTGTTCAGAGAACCCACCTGCCCTGAGCACATCCCACTGCAGAGCCTCGCCTTGGGTGGCGCATTCTCTTTGGTTCACTTTGATGGCAGATTTGTCCATGGGTCTGGTCCTGGGGGCCCAGATGCGATGAGTTCTGTTGTCATTGCTCCTGGCTCCTGACCTCATTCACATCTCACTCTCCCTCTGCCTCAAGCAGTAACTTTGGGCACCTGGTGTCATACACGCTTTGCCTCTCAGAGCCGGCTGTTTGTAGGGCCTCCTTGTGCTTTGTGGTAAGTGCTGTATTAGAGCCAGAGGAGGCTGTCCTATAACAGGTCCACCTGTGGCTGGGATGGTGAAGACCTTTCCCTTCCCTTCTCTCTGCAGCC'

In [10]:
seq = df.iloc[27,:][5]
seq[int(len(seq)/2):]

'211141114224244CTGGGCCTGCGCTAATTTGGTTTGGGTTTCTATCCCCTGAAACTAATGCTTCCCCACAAATTCCGTGTCTGACTCTAGGAAGGACTTGCTTCTTCAGGGGTGGGTGCTCCCTGGTGCCCACAGAGTCTGTTGCCCTCCCATCCCATCAGTATACCACATAGCAACACTCACAGGCTCCATGACAAACACACAGTCACAGAGTGTGGATTTGGGGCTTCTCACTGCTTTTCCTACTCTGGCAAACTCCTACTCATCCTGCAAAACCCAACTCAGGACTTCCGTGCCCCAGGAAGTTCTCCATGAGCTCATCCCCCTTGCCTTCCCCTCACCCCACACTGTCTGGGTCCTCCCTCCTATCCCATGCTCCCAAGGCCCTGGGCATTCCTCCCTTGACTGAACTGTTCCTGGCCCATGCCATGTGTTGAAGGAGATAAGAGTTTTGAGGGCTGCACCACCACGCTGATCGCTTGAGGCAATGGTCATTCTGTCACGGCCAGTCTGCAGTCAAGGCTGCACCGGGCCACGAGCCCCTCCGCCTCCAGCTATCCACAAGTGCCCATGATGCCAGGACTTGGGGATGTCTGGGTACAAGTACAGGGGCACAGAGGACAGCCAGTGGCCAGGAAGCCTCTGGGGCTGGTGGAGGTGAGGCTGGGTGTGCCTGTTTGTGCAAGTGTGTCGGGGCCTCGGGCGCTCCTGACGGGCATCTTCTAGGCTGTGGGACCTTGGGAAGGTTTCTCTGCCTCCCTTCACCTCAGTTTCCTCATCATTAAGTTGGGGAGGTCAGATGTCACAGTCTGTGAGGCAGCCCTGCATAACACCAGGCCTGGTGTTGGTGTGAGCAGAAGCTGGCAGGTGGGATGGGGTGACAGGATGGAAGGCCCAGGGCAGTGGCGAGCCAAGGACGGGGCCAGCAGGAGGTTGTCTGAGGCGAGGACCTCCCGGGAGCAGCGGCCAGATGCCCTGTCCTCCAGGGTGGCAGGGGAAGGCTGCAGGGAGAGGGTTGTCC'

In [11]:
len(df.iloc[27,:][2])

28

In [12]:
df3 = df[df.iloc[:,0]== '2']
seq = df3[df3.iloc[:,1] == 18282659][5].values[0]
seq[int(len(seq)/2)-3:]

'C8766AATCTTACCTTCTCTGACACCCCCCAGAACTGTGGCTGCAGAAAGGAAAACTAATTGAAGAGGCAGGTAACAGTAGCTGTGAGGTGACCTATAAGAACACTTTGTTTACAGAGGTACACAGGAGATTCTCATGCCTTGGCTGGTGAGAAGAAAGAGAAGCAAGTGGATTTGAGATATATTAAGAACACAAAACAGTCAGTCTTGTCTTGATTGGATATTGCTTCCAGCAGAGCATAGTTGTGCCATGGACAACCTGCTTTCCTTCCTAGAGGACATAAATGTTTCTCATGGACTAAATGTGGGCCACATGGGACAGAAAGAGCTGAGTGGAGCCATCTTAGGTTCTACCCAACAAGGCTACCAGAGGGGTGAAGAGGCTCCAGCAGCAAGAAGCTAGAAGGGATGTTGACATTCCCGAAGGCTGAGGAAGGCACATATGACCTCCTGCAAGAGAGATGCACCTGCTAAGACAAAGAATCACCTGGAAAGAGGTGCTCAGTAAAGGGGCCTGCAAACACTCCATGACAATTTCCTGTAAAATCTTTATCTTCTGATACAGAAACATCTTGAAACCGACAATCTCAGAGGCTTTCCTTTTGCCTTACCATTCCTCCCTCCCTCCCTAATACCACCCTGAAGAAGGGTCAGAAGCTGCCTAAGATTGGAGGGAGGAGAGAAAGGAAGCATGAAGTAGAGAAATTGAGAAGAACCGAATGCCACTTCCTTGATGCAGGTTGCAGACTTGAAGCAAGTCCTAGGTAGGAGAAGGGAGAAGAGTGAACATCAAGTCATGTTAAATTTTCATAATTACATAGGCCTGGGCAATCCAATGTCTGAATGAAGACTGAGCGTGACTGCAGTGACTTCCACCACAAGTCAGGAGAAAACCATGGGATTTGTGGAGTTTGCACCCAAGGGCAGACAAAGATCACCTGTTCCTGTGAATAAAATGCAAATAAACTGTGAGAGGCAAAATTAAGGAATTTACATTTTATTTACACTGCAAAGTGAAACTTTTGTAA'

In [13]:
len(seq)

2048